.hl_login--body .container-fluid:before {
  content: '';
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-image: var(--main-body-image);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hl_login--body .container-fluid:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--main-body-image-overlay);
}
