body {
  margin: 0;
  padding: 0;
  background-image: url('https://msg.everypages.com/ghl-login/images/couples-on-top-of-the-mountain.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
